@import url('https://fonts.googleapis.com/css?family=Parisienne');

@media screen and (max-width: 780px){
  .brief {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Parisienne', cursive;
    font-size: 1.5rem;
    color: #212121;
    background-color: #fff7f9;
  }

}

@media screen and (min-width: 780px){
  .brief {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 80px;
    padding-left: 80px;
    font-family: 'Parisienne', cursive;
    font-size: 1.8rem;
    color: #212121;
    background-color: #fff7f9;
  }

}

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'Parisienne', cursive;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fff7f9;
    border-bottom: 1px solid #c1c1c1;
}

.uk-logo {
    font-size: 1.5rem;
    font-family: 'Parisienne', cursive;
    color: #666;
    text-decoration: none;
}

.uk-button-danger {
  margin-right: 10px;
  text-transform: lowercase;
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 0 20px;
}
